.fira-mono-regular {
    font-family: "Fira Mono", serif;
    font-weight: 400;
    font-style: normal;
}

.fira-mono-medium {
    font-family: "Fira Mono", serif;
    font-weight: 500;
    font-style: normal;
}

.fira-mono-bold {
    font-family: "Fira Mono", serif;
    font-weight: 700;
    font-style: normal;
}
  

body, html {
    margin: 0;
    color: white;
}

body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    background-color: rgb(49, 49, 49);
}

#wrapper {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

.view-outer-container {
    box-sizing: border-box;
    height: auto;
    padding: 10px;
}

.view-inner-container {
    border: 1px solid rgb(110, 110, 110);
    background-color: rgb(65, 65, 65);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#visual-legend {
    background-color: rgb(97, 97, 97);
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    border-bottom: 1px solid rgb(110, 110, 110);
}

.legend-color {
    background-color: white;
    padding: 2px;
    border-radius: 4px;
}

#visual-architecture {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

#visual-architecture-container {
    width: 20%;
    height: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 0;
}

#visual-images-grid {
    z-index: 1;
    width: 100%;
    height: auto;
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

#visual-images-grid img {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    background-color: rgb(65, 65, 65);
    border-radius: 15px;
}

#img-5 {
    grid-column: span 1;
}
#img-1 {
    grid-column: span 1;
}
#img-2 {
    grid-column: span 1;
}
#img-3 {
    grid-column: span 3;
}
#img-4 {
    grid-column: span 3;
}

#visual-legend p {
    margin: 3px;
    color: white;
}

#text-data-wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.text-data-item {
    width: 100%;
    height: 100%;
    min-height: 0;
}

.visual-inner-container {
    display: flex;
    flex-direction: column;
}

.view-text-title {
    padding-left: 1em;
    border-bottom: 1px solid rgb(110, 110, 110);
}

.view-text-title * {
    margin: 0;
    padding: 0;
}

.view-text-lines-wrapper {
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
    /* max-height: 90%; */
    max-width: 100%;
    height: 90%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.view-text-lines {
    min-height: 0;
    max-height: 100%;
    border-radius: inherit;
    scrollbar-width: thin;
}

.log-item .log-text:hover {
    border: 1px solid white;
    cursor: pointer;
}

.tooltip-parent {
    position: relative;
}

.tooltip-parent:hover .tooltip-content-wrapper {
    visibility: visible;
}

.tooltip-content-wrapper {
    position: absolute;
    z-index: 5;
    background-color: rgb(66, 66, 66);
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px;
    box-sizing: border-box;
    visibility: hidden;
    font-size: .7em;
    max-width: 25vw;
    max-height: 25vh;
    overflow: scroll;
    scrollbar-width: thin;
}

.tooltip-title {
    margin: 0;
    color: white;
    width: 100%;
}

.tooltip-text {
    margin: 0;
    margin-top: 10px;
}

.log-item .log-text {
    margin: 0;
    width: 97%;
    margin: 1px;
    border-radius: 5px;
    padding: 3px;
    background-color: rgb(85, 85, 255);
    border: 1px solid rgb(110, 110, 110);
    font-size: .6em;

    display: flex;
    flex-direction: row;
}

.log-item .log-text span {
    border: 1px solid rgb(65, 65, 65);
    background-color: rgb(66, 66, 66);
    margin-right: 1px;
    padding: 2px;
}

.log-item .view-content {
    flex: 1;
}

.code {
    color: rgb(0, 204, 255);
}