
Admin App/DeGroeneWeide/.vs/DeGroeneWeide/DesignTimeBuild/.dtbcache.v2
Admin App/DeGroeneWeide/.vs/DeGroeneWeide/v17/.futdcache.v2
Admin App/DeGroeneWeide/.vs/DeGroeneWeide/v17/.suo
Admin App/DeGroeneWeide/.vs/DeGroeneWeide/v17/DocumentLayout.backup.json
Admin App/DeGroeneWeide/.vs/DeGroeneWeide/v17/DocumentLayout.json
Admin App/DeGroeneWeide/DeGroeneWeide/DeGroeneWeide.csproj
